
.main1{
    display: flex;
    text-transform: capitalize;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
     
.hd3{
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
}

input{
    border-radius: 10px !important;
    /* border-color: red !important; */
}
span{
    color: red;
}

.main2{
    border: 10px solid rgb(215, 215, 233);
    border-radius: 20px;
    padding: 40px;
    background-color: white;

   
}

body{
    background-image: linear-gradient(225deg,deepskyblue,rgb(46, 59, 242));
}
